#header h1 {  
    position: static;
    left: 420px;
    top:5px;
    font-size: 3em;
    font-family: "Times New Roman", Times, serif;
    color: #36814f;}



body {
    width: 100%;
    background-image: url("images/ball\ pattern.jpg");
    /*background-size: cover;*/
    display: block;
    margin: 0;
    }


#main-content{   min-height: 300px;
    width: 715px;
    margin-right: 30px;
    float: left;
    margin-left: 15px;
    color: #dcdcdc;}



#button {
  width: 200px;
  text-align: center;
  color: #fff;
  background-color: black;
  padding: 2em 0;
  margin: 20px auto;
  font-size: 24px;
  font-weight: bold;
}

h1{
  text-align: center;
  color: black;
  text-transform: uppercase;
  background-color: lightgray;
}
p{
  text-align: center;
  background-color: rgb(200, 200, 200);
  margin-left: 5%;
  margin-right: 5%;
}


/*Horizontal Navigation*/
nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: center
}


nav ul li a {
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111111;
}

ul{
  text-align: center;
  list-style-type: none;
}
