/*Body*/
body{
    background-color: brown; 
    font-family: 'Open Sans', sans-serif;
} 
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
       url('fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.Page-wraper-1{
  background-image: url(images/soccerPitch.jpg);
  background-size: cover;
  display: block;
  margin: 0;
}

p{
  text-align: center;
  background-color: rgb(66, 101, 21);
  margin-left: 5%;
  margin-right: 5%;
}
h1{
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
  background-color: black;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

#sp1{
  color: green;
}
#sp2{
  color: white;
}
#sp3{
  color:red;
}


#SO{
  color: green;
}
#CC{
  color: white;
}
#ER{
  color: red;
}

.Liga{
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-left: 45%;
  margin-right: 45%;
  background-color: green;
}
.Chivas{
  text-align: center;
  text-transform: uppercase;
  color: #990000;
  margin-left: 45%;
  margin-right: 45%;
  background-color: white;
}
.America{
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 170, 0);
  margin-left: 45%;
  margin-right: 45%;
  background-color: darkblue;
}
.map{
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-left: 19%;
  margin-right: 19%;
  background-color: lightgray;
}

#soccer1{
  font-weight: 600;
  background-color: rgb(66, 101, 21);
}
#soccer2{
  font-weight: 400;
}

#p0{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: black;
  background-color: rgb(0, 179, 0);
}
#ChivasP{
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  text-align: center;
  background-color: darkblue;
}
#AmericaP{
  font-family: "Times New Roman", Times, serif;
  color: yellow;
  text-align: center;
  background-color: darkblue;
}

img{
    display: block;
    margin: auto;
}

/*Horizontal Navigation*/
nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: center
}


nav ul li a {
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111111;
}

ul{
  text-align: center;
  list-style-type: none;
}



