body{
    background-image: url(images/shelf.jpg); 
    width: auto;
    height: 100%;
} 

img[alt="Raybradbury statue"] {
  border-radius: 16px;
}
img[alt="BMX Logo"] {
  border-radius: 8px;
}

p{
  text-align: center;
  color: antiquewhite;
  background-color: brown;
  margin-left: 15em;
  margin-right: 15em;
}

h1{
  text-align: center;
  color:antiquewhite;
}

img{
  display: block;
  margin: auto;
}


/*Horizontal Navigation*/
nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: center
}


nav ul li a {
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111111;
}

ul{
  text-align: center;
  list-style-type: none;
}

@media (max-width: 768px) {
  p {
    background-color: #FF6B6B;
    color: #ffffff;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

@media (max-width: 480px) {
  p {
    background-color: #4ECDC4;
    color: #001f3f;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (min-width: 1200px) {
  p {
    background-color: #FFE66D;
    color: #000000;
    margin-left: 20em;
    margin-right: 20em;
  }
}

@media (max-width: 768px) {
  h1 {
    color: white;
    padding: 0.4em 0;
  }
}

@media (max-width: 480px) {
  h1 {
    color: whitesmoke;
    padding: 0.35em 0;
    font-size: 1.4em;
  }
}

@media (min-width: 1200px) {
  h1 {
    color: wheat;
    padding: 0.6em 0;
  }
}
